In [36]:
#1
import statistics;
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(ages);
# sorting the list
ages.sort();
print(ages);
# Min and Max
minimum = min(ages);
maximum = max(ages)
print("Minimum value in list is : " , minimum , " \nMaximum value in list is: " , maximum);
# Adding min and max to list
ages.append(minimum);
ages.append(maximum);
print(ages);
# finding the median age
median = statistics.median(ages)
print("median is ", median);
# average
s = sum(ages);
print("sum of list is : ", s);
l = len(ages);
print("len of list is : ", l);
ave = s/l;
print("Average of list is : ", ave);
#Range
ran = maximum - minimum;
print("range of list is ", ran);

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum value in list is :  19
Maximum value in list is:  26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
median is  24.0
sum of list is :  273
len of list is :  12
Average of list is :  22.75
range of list is  7

In [49]:
#2

Dog = {}

Dog.update({
    'name' : 'Leo',
    'color' : 'White',
    'breed' : 'Pomeranian',
    'legs' : '4',
    'age' : '2'
    })
#student dictionary
Student = {
    'first_name' : 'Sai_Krishna',
    'last_name' : 'Peruka',
    'gender' : 'Male',
    'age' : '22',
    'marital status' : 'Unmarried',
    'skills' : ["HTML","C","Java"],
    'country' : 'India',
    'city' : 'Warangal',
    'address' : 'Balaji Nagar, Kothawada, Warangal, 506002'
}
#length of student dictionary
print("Length of the Student dictionary is", len(Student))
#Get the value of skills and check the data type
print("skills of student are ", Student['skills'])
print("datatype of skills is", type(Student['skills']))
#modifying
Student['skills'].extend(["Python", "Hybris"])
print("Modified skills in list are", Student['skills'])
#keys as list
print("Keys in the student dictionary are", list(Student.keys()))
print("values in the student dictionary are", list(Student.values()))

Length of the Student dictionary is 9
skills of student are  ['HTML', 'C', 'Java']
datatype of skills is <class 'list'>
Modified skills in list are ['HTML', 'C', 'Java', 'Python', 'Hybris']
Keys in the student dictionary are ['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address']
values in the student dictionary are ['Sai_Krishna', 'Peruka', 'Male', '22', 'Unmarried', ['HTML', 'C', 'Java', 'Python', 'Hybris'], 'India', 'Warangal', 'Balaji Nagar, Kothawada, Warangal, 506002']

In [60]:
#3

# tuple with names of sisters and brothers
sisters = ("Sneha", "Sreeja", "Minnu")
brothers = ("Nithish", "Praveen", "Sai", "Krishna")
print(sisters)
print(brothers)

# joining brothers and sisters

siblings= sisters + brothers
print(siblings)

#count of siblings

siblingscount= len(siblings)
print(siblingscount)

#appending father and mother

father= "Sudhakar"
mother = "Saritha"

family_members = list(siblings)

family_members.append(father)
family_members.append(mother)
print(family_members)

('Sneha', 'Sreeja', 'Minnu')
('Nithish', 'Praveen', 'Sai', 'Krishna')
('Sneha', 'Sreeja', 'Minnu', 'Nithish', 'Praveen', 'Sai', 'Krishna')
7
['Sneha', 'Sreeja', 'Minnu', 'Nithish', 'Praveen', 'Sai', 'Krishna', 'Sudhakar', 'Saritha']

In [81]:
#4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
#Find the length of the set it_companies
print("The length of set is:", len(it_companies))
#Add 'Twitter' to it_companies
it_companies.add("Twitter")
print(it_companies)
#Insert multiple IT companies at once to the set it_companies
multiple_ITcompanies= ["TCS", "Accenture", "Adobe"]
it_companies.update(multiple_ITcompanies)
print(it_companies)
#Remove one of the companies from the set it_companies
it_companies.remove("TCS")
print(it_companies)
#Difference between remove and discard
#Remove: If item to remove does not exist, remove() will raise an error
#Discard: If item to remove does not exist, discard() will NOT raise an error
#Join A and B
C = A.union(B)
print(C)
#Find A intersection B
D = A.intersection(B)
print(D)
#Is A subset of B
E = A.issubset(B)
print(E)
#Are A and B disjoint sets
F = A.isdisjoint(B)
print(F)
#Join A with B and B with A
G = B.union(A)
print(C,G)
#What is the symmetric difference between A and B
A.symmetric_difference(B)
#Delete the sets completely
del A,B
#print(B)
#Convert the ages to a set and compare the length of the list and the set
S= set(age)
print(len(S)==len(age))

The length of set is: 7
{'Google', 'Twitter', 'IBM', 'Microsoft', 'Oracle', 'Amazon', 'Apple', 'Facebook'}
{'Oracle', 'Apple', 'Facebook', 'Google', 'Accenture', 'TCS', 'Adobe', 'Microsoft', 'Amazon', 'Twitter', 'IBM'}
{'Oracle', 'Apple', 'Facebook', 'Google', 'Accenture', 'Adobe', 'Microsoft', 'Amazon', 'Twitter', 'IBM'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28} {19, 20, 22, 24, 25, 26, 27, 28}
False

In [82]:
#6

#printing unique words

str =  "I am a teacher and I love to inspire and teach people"
s=set(str.split(" "))
print(s)

{'and', 'to', 'love', 'teacher', 'a', 'people', 'am', 'inspire', 'I', 'teach'}

In [83]:
#7

#printing the sequence

print("Name\t\tAge\t\tCountry\t\tCity\nAsabeneh\t250\t\tFinland\t\tHelsinki")

Name		Age		Country		City
Asabeneh	250		Finland		Helsinki

In [86]:
#8

radius = 10
area = 3.14 * radius ** 2

print("Area of a circle with radius is %d meters square" %area)

Area of a circle with the given radius is 314 meters square